# Moosy é o único que pode aprovar mudanças nesses arquivos específicos

/CODEOWNERS @Moosy-Joao
/.github/pull_request_template.md @Moosy-Joao
/CONTRIBUTING.md @Moosy-Joao
/LICENSE @Moosy-Joao
/README.md @Moosy-Joao
